@article_bgcolor: gray;
@slider_bgcolor: #42b3d8;
@logo_bgcolor: red;

.border_radius(@radius: 10px){
    border-radius: 10px;
}

body {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    & > * {
        margin: 10px;
    }
    .logo{
        background-color: @logo_bgcolor;
        width: 200px;
        height: 34px;
        .border_radius;
    }
    .slider{
        background-color: @slider_bgcolor;
        width: 100%;
        height: 115px;
        .border_radius;
    }
    .articles{
        display: table;
        width: 100%;
        
        .article{
            display: table-cell;    
            padding-right: 10px;

            .article-image{
                height: 55px;
                background-color: @article_bgcolor;
                .border_radius;
            }
            .article-content{
                color:  @article_bgcolor; 
            }
        }

        .last{
            padding-right: 0;
        }
    }
}

@media screen and () {
    
}