body {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}
body > * {
  margin: 10px;
}
body .logo {
  background-color: red;
  width: 200px;
  height: 34px;
  border-radius: 10px;
}
body .slider {
  background-color: #42b3d8;
  width: 100%;
  height: 115px;
  border-radius: 10px;
}
body .articles {
  display: table;
  width: 100%;
}
body .articles .article {
  display: table-cell;
  padding-right: 10px;
}
body .articles .article .article-image {
  height: 55px;
  background-color: gray;
  border-radius: 10px;
}
body .articles .article .article-content {
  color: gray;
}
body .articles .last {
  padding-right: 0;
}
